{% extends 'base.html' %}
{% block title %}
    Contacts - {{ block.super }}
{% endblock %}

{% block head_content %}
    <style>
        body {
            background-image: url('media/5.jpeg');
            background-repeat: no-repeat;
            background-size: 100%;

        }
    </style>
{% endblock %}


{% block content %}
    <section class="Material-contact-section section-padding section-dark">
        <div class="container">
            <div class="row">
                <!-- Section Titile -->
                <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                    <h1 class="section-title">Страничка с контактами</h1>
                </div>
            </div>
            <div class="row">
                <!-- Section Titile -->
                <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
                    <p>Хотите с нами пообщаться? Ну что ж , давайте.</p>

                    <div class="find-widget">
                        Company: <a href="/home">Фирма "Sweets"</a>
                    </div>
                    <div class="find-widget">
                        Phone: <a>+ 375441232344</a>
                    </div>

                    <div class="find-widget">
                        Время работы: <a> пн-сб 10-18</a>
                    </div>
                </div>
                <!-- contact form -->
                <div class="col-md-6 wow animated fadeInRight" data-wow-delay=".2s">
                    <form class="shake" role="form" method="post" id="contactForm" name="contact-form"
                          data-toggle="validator">
                        {% csrf_token %}
                        <!-- Name -->
                        <div class="form-group label-floating">
                            <label class="control-label" for="name">Имя</label>
                            <input class="form-control" id="name" type="text" name="name" required
                                   data-error="Please enter your name">
                            <div class="help-block with-errors"></div>
                        </div>
                        <!-- email -->
                        <div class="form-group label-floating">
                            <label class="control-label" for="email">Email</label>
                            <input class="form-control" id="email" type="email" name="email" required
                                   data-error="Please enter your Email">
                            <div class="help-block with-errors"></div>
                        </div>

                        <!-- Message -->
                        <div class="form-group label-floating">
                            <label for="message" class="control-label">Опишите вашу проблему</label>
                            <textarea class="form-control" rows="3" id="message" name="message" required
                                      data-error="Write your message"></textarea>
                            <div class="help-block with-errors"></div>
                        </div>
                        <!-- Form Submit -->
                        <div class="form-submit mt-5">
                            <button class="btn btn-success" type="submit" id="form-submit"><i
                                    class="material-icons mdi mdi-message-outline"></i> Отправить
                            </button>
                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                            <div class="clearfix"></div>
                        </div>
                    </form>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <form action="/work">
                        <button class="btn-danger" type="submit">Назад</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}