{% extends 'base.html' %}
{% block title %}
    SignUp - {{ block.super }}
{% endblock %}

{% block head_content %}
    <link href="css/the-big-picture.css" rel="stylesheet">

    <style>
        body {
            background-image: url('media/4.jpeg');
            background-repeat: no-repeat;
            background-size: 100%;
        }

        .button {
            position: fixed;
            top: 555px;
            left: 100px;
            color: white;

        }

        .a {
            position: fixed;
            top: 505px;
            left: 105px;
            color: Blue;
        }
    </style>
{% endblock %}

{% block content %}
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!--  <p class="a" style="font:italic 22px bold  "  >Если Вы,уважаемый клиент, готовы, то выберите сценарий нашей с вами работы </p>-->
    <p class="a" style="font:italic 22px bold  ">Если Вы,уважаемый клиент, готовы, то жмите заветную кнопку </p>

    <section>
        <!--        <div class="button">-->
        <!--<a type="button" class="btn btn-primary btn-xl js-scroll-trigger" href="/definite">Я знаю чего хочу</a>-->
        <!--  <a class="btn btn-primary btn-xl js-scroll-trigger" href="/indefinite">Я в творческом поиске</a>-->
        <!--        </div>-->
        <div class="button">
            <a type="button" class="btn btn-primary btn-xl js-scroll-trigger" href="/work">Заветная кнопка</a>
            <!--  <a class="btn btn-primary btn-xl js-scroll-trigger" href="/indefinite">Я в творческом поиске</a>-->
        </div>
    </section>
    <p>
        <map name="worm">
            <area coords="1000,0, 1990, 0" alt="Координаты для червяка">
        </map>
    </p>


{% endblock %}