{% extends 'base.html' %}
{% block title %}
    SignUp - {{ block.super }}
{% endblock %}


{% block content %}
    <meta name="theme-color" content="#7952b3">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        body {
            background-image: url('media/signupBACK.jpeg');
            background-repeat: no-repeat;
            background-size: 100%;
        }

        .mt-5 mb-3 text-muted {

            position: fixed;
            top: 800px;
            left: 100px;
        }

    </style>
    <div class="row">
        <div class="col-lg-9">
            <h4>SignUp</h4>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary btn-block">SignUp</button>
            </form>

        </div>
    </div>
{% endblock %}