{% extends 'base.html' %}
{% block title %}
    SignIn - {{ block.super }}
{% endblock %}

{% block head_content %}
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#7952b3">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        body {
            background-image: url('media/signin.jpeg');
            background-repeat: no-repeat;
            background-size: 100%;
        }

        .mt-5 mb-3 text-muted {

            position: fixed;
            top: 800px;
            left: 100px;
        }

    </style>


    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row text-center" >
        <div class="col-lg-9">
            <h4>SignIn</h4>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary btn-block">SignIn</button>
            </form>

        </div>
    </div>

    <a class="nav-link" style="font:italic 50px bold" href="/signup">sign up</a>
{% endblock %}