{% extends 'base.html' %}
{% block title %}
    SignUp - {{ block.super }}
{% endblock %}

{% block head_content %}
    <style>
        body {
            background-image: url('media/2.jpeg');
            background-repeat: no-repeat;
            background-size: 100%;
        }
    </style>
{% endblock %}


{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="mt-5"> МАРК ТВЕН</h1>
                    <p>«Через двадцать лет Вы будете больше жалеть не о том, что сделали, а о том, что Вы не сделали.
                        Так
                        скидывайте узлы, выплывайте из тихих гаваней. Поймайте ветер в свои паруса. Исследуйте.
                        Мечтайте.
                        Открывайте.»</p>
                </div>
            </div>
        </div>
    </section>

    <a class="btn btn-primary btn-xl js-scroll-trigger" href="/signin">Старт</a>
    <p>
        <map name="worm">
            <area coords="1000,0, 1990, 0" alt="Координаты для червяка">
        </map>
    </p>
{% endblock %}
